 * { margin:0; padding:0; box-sizing: border-box; }

body {
	font-family: 'Nimbus Sans', sans-serif;  
	font-size: 18px;
	color: rgb(24, 44,71);
}
header { 
	background: #ffffff;
	padding: 1em 6em;
	margin: 0;
}
header img {
	float:left;
}
nav {
	float:right;
}
nav a {
	text-decoration: none;
	color: rgb(24, 44, 71);
	padding: .5em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
section#splash {
	
}
section#splash img {
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	height: 568px;
	width: 960px;
}

section#splash h2 { 
	font-style: italic;
	font-weight: 100;
	font-size: 2em;
}
section#information {
	padding: 0 3em;
}
