 * { margin:0; padding:0; box-sizing: border-box; }

body {
	font-family: 'Nimbus Sans', sans-serif;  
	font-size: 18px;
	color: rgb(24, 44,71);
}
header { 
	background: #ffffff;
	padding: 1em 6em;
	margin: 0;
}
header img {
	float:left;
}
nav {
	float:right;
	margin-top: 3.5em;
}
nav a {
	text-decoration: none;
	color: rgb(24, 44, 71);
	padding: .5em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
section#splash {
	background-image:url(images/bunnyincolor.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	height: 450px;
}
section#splash img {
	
}

section#splash h2 { 
	font-style: italic;
	font-weight: 100;
	font-size: 2em;
	background-color: rgba(255,255,255,.5);
	text-align: center;
	}
h4 {
	font-size: 2.5em;
	font-weight: 100px;
	text-align: center;
	color: #5b8503;
}
section#maincontent {
	padding: ;
	margin: 3em;
}
section#maincontent li {
	list-style: none;
	font-weight: 100px;
	text-align: center;
	line-height: 2.5em;
	font-size: 1.5em;

}
section#maincontent p {
	text-align: center;
	font-weight: 200px;
}
section#maincontent img{
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	width: 100%;
}
.column1 {
	float: left;
	border-bottom: 1px solid #b7b7b7;
}
.services {
	margin: 2em;
	float: left;
	padding:0 6em;
}
.services p{
	margin-top: 1.5em;
	font-size: 1.2em;
}

.column2 {
	float: left;
	padding: 1em 2em;
	width: 400px;
	height:200px;
	margin-top: 2em;
}
.column3 {
	float: left;
	padding: 1em 1em 2em 2em;
	margin-top: 2em;
	height: 300px;
	border-left: 1px solid #b7b7b7;
	display: inline;
}
.column3 ul {
	font-size: 1em;
	text-align: left;
	list-style: none;
}
.column3 img {
	float: right;
}
.column3 p {
	font-size: 1.2em;
	text-align: left;
	font-weight: 700;
	margin-top: 1em;
}
.column3 a {
	text-decoration: none;
	margin-top: 2em;
}
.column3 h4 {
	text-align: left;
}




