 * { margin:0; padding:0; box-sizing: border-box; }

body {
	font-family: 'Nimbus Sans', sans-serif;  
	font-size: 18px;
	color: rgb(24, 44,71);
}
header { 
	background: #ffffff;
	padding: 1em 6em;
	margin: 0;
}
header img {
	float:left;
}
nav {
	float:right;
}
nav a {
	text-decoration: none;
	color: rgb(24, 44, 71);
	padding: .5em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
section#splash {
	background-image:url(images/bunnyincolor.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	height: 568px;
}
section#splash img {
	
}

section#splash h2 { 
	font-style: italic;
	font-weight: 100;
	font-size: 2em;
	background-color: rgba(255,255,255,.5);
}
section#maincontent {
	padding: 3em 0em 3em 0em;
}
.column1 {
	float: left;
	padding: 0 10px;
	width: 292px;
	border-right:1px solid #b7b7b7;
	height: 250px;
}
.column2 {
	float: left;
	padding: 0 10px;
	width: 292px;
	border-right:1px solid #b7b7b7;
	border-left: 1px solid #b7b7b7;
	height: 250px;
}
.column3 {
	float: left;
	padding: 0 10px;
	width: 292px;
	border-right:1px solid #b7b7b7;
	height: 250px;
}
.columncontent {
	list-style: none;
}
}
