 * { margin:0; padding:0; box-sizing: border-box; }

body {
	font-family: 'Nimbus Sans', sans-serif;  
	font-size: 18px;
	color: rgb(24, 44,71);
}
header { 
	background: #ffffff;
	border-top: 20px solid #182c47;
}
header p {
	font-style: italic;
	font-weight: 100;
	padding: 0 1.5em;
	margin: .5em;
}

header img {
	float:left;
}

#bar {
	text-align: center;
	margin: 2em 0;
}
nav a {
	text-decoration: none;
	color: rgb(24, 44, 71);
	padding: .3em 1em;
	background-color: #5b8503;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
section#splash {
	background-image:url(images/bunnyincolor.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 75vh;
}
section#splash img {
	float: left;
}

h4 {
	font-size: 2.5em;
	font-weight: 100px;
	text-align: center;
}

section#maincontent li {
	list-style: none;
	text-decoration: none;
	font-weight: 100px;
	text-align: center;
	line-height: 2.5em;
	font-size: 1.5em;
}

section#maincontent img {
	float: right;
	margin: 0 .5em;
	padding: 0 3em;
}

.column1 {
	float: left;
}


.column2 {
	float: left;
	padding: em 1.5em;
	width: 400px;
	height:350px;
	margin-top: 2em;
	border-right: 1px solid #b7b7b7;
}
.column2 h4 {
	text-decoration: underline;
}
.column3 {
	float: left;
	margin: 2em 2em 0 2.5em;
	height: 350px;
	width: auto;
}
.column3 ul {
	float: left;
	font-size: 1em;
	text-align: left;
	list-style: none;
}
.column3 li {
	border-bottom: 1px solid #b7b7b7;
	margin: .2em;
}
.column3 p {
	font-size: 1.2em;
	text-align: left;
	font-weight: 700;
	margin-top: 1em;
}
.column3 a {
	text-decoration: none;
	margin-top: 2em;
	color: #5b8503;
}
section#contact  img {
	float: right;
	padding: 2.5em 2em;
}
section#contact h4 {
	text-decoration: underline;

}




