 * { margin:0; padding:0; box-sizing: border-box; }
body {
    background: url("images/fifi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'proxima-nova-sc-osf', helvetica, sans-serif;
}
header {
    height: 65px;
    background-color: #000;
}
nav {
    padding: 0;
}
.logo img {
	float: left;
}
nav a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0 1.5em;
    font-weight: 100;
    line-height: 1.5em;

}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
div#bio {
	width: 50%;
	margin: 2em;
	padding: 3em;
}
div#bio h1 {
	font-weight: 100;
	font-size: 3em;
	padding-bottom: .5em;
}

