body {
    background: url("images/fifi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Aktiv Grotesk Std', sans-serif;
    padding: 0 0 0 30px;
}


h1{
    color: #0000000;
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    margin-top: 1em;
    }

h3 {
    font-size: 1em;
    font-weight: 600px;
    padding: 10px;
} 

#maincontent {
    height: 50vh;
    margin: 200px 100 0 400px;
    font-style: italic;
    text-align: left;
}
#services {
    height: 30vh;
    font-weight: 300;
    margin-top: 1em;
    line-height: 1em;
    background: rgba(255,255,255,.5);
}

.boxes { 
    width: 33.33%;}
     