 * { margin:0; padding:0; box-sizing: border-box; }
body {
    background: url("images/covermodel.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Aktiv Grotesk Std', sans-serif;
}
header {
    height: 50px;
    margin: 0px auto;
    
}
header li a {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 .5em;
    float: right;
    color: #000;
 
}
header#logo {
    float: left;
}
.navlist {
    float:; right;
}
header {
    height: 60vh;
}
.logo {
    padding: 0;
}

#splash {
    background-color: #000;
    width: 100%;
    height: 20vh;
}
div#contentwrapper {
    padding: 0 30em;
}
nav {
    padding: 1em;
}
nav a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0 1.5em;
    font-weight: 100;
    line-height: 2em;
}
div#social {
    padding: 0 4em;
}
div#social a {
    padding: 0 1em;
    margin: 0;
    width: 20%
}
#contentwrapper a:hover{
    color: rgba(255, 255, 255, .5);
}
#social img:hover{
    color: rgba(255, 255, 255, .5);
}
.clearfix:after{
    visibility: hidden;
    display:block;
    font-size: 0;
    content: "";
    clear:both;
    height: 0;
}
section#content {
    width: 100%;
    height: 30vh;
    background-color: #fff;
}
div.column {
    padding: 2%;  
}
div.column a {
    color: #000;
    font-weight: 100;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000;
    padding: .5em 6em;
    
}
div#photoshoots {
    float: left;
    height: 200px;
}
div#photoshoots a:hover {
    background: url("images/photoshootbutton.jpg");
    background-repeat: no-repeat;
    height: 200px;
}
div#weddings{
    float: right;
    height: 200px;
}
div#weddings a:hover {
    background: url("images/weddingsbutton.jpg");
    background-repeat: no-repeat;
}


>>>>>>> Stashed changes
