body {
    background: url("images/covermodel.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Aktiv Grotesk Std', sans-serif;
}
header {
    background-color: rgba(255, 255, 255, .5);
    height: 50px;
    margin: 0px auto;
}
header li {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
 
}
header#logo {
    float: left;
}
.navlist {
    float:; right;
}

