body {
    background: url("images/fifi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Khula', sans-serif;
}


h1{
    background: url("images/mualogo.png");
    color: #0000000;
    font-size: 3em;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 100px;}
p {
    padding: 10px;
} 

#maincontent {
    height: 100vh;
    padding: 200px 100 0 200px;
    margin: 2em;
    font-style: italic;
}
#services {
    height: 50vh;
}

     