body {
    background: url("images/covermodel.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Aktiv Grotesk Std', sans-serif;
    padding: 0 0 0 30px;
}
.container {
    height: 20px;
    display: inline-block;
}
