body {
    background: url("images/fifi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Aktiv Grotesk Std', sans-serif;
    padding: 0 0 0 30px;
}
div {
    display: block;
}
div#headerwrapper {
    bottom: 100px;
    position: absolute;
    width: 100%;
    background-color: #535353;
}
header#header {
    padding: 20px 25px;
}
div #topnav #logo {
    margin-right: 10px;
    float: left;
}
h1.logo {
    height: 71px;
    display: inline-block;
    margin: 0;
}
