body {
  background: url(images/Wall.png) no-repeat center center fixed;
  background-size: cover;
  color: #aa816b;
  font-family: 'wire-one', sans-serif;
}
footer {
}
div {
  background:rgba(255,255,255,.6);
  padding:1em;
  width:12em;
}
p {
    font-weight: 100;
    width: 12em;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    line-height: 3em;
}
ul {
    line-height: 1em;
    color: #000000;
}
#slogan {
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    margin-top: 8em;
    color: #ffffff;
    width:auto;
}
