 * { margin:0; padding:0; box-sizing: border-box; }
body {
    background: url("images/covermodel.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Aktiv Grotesk Std', sans-serif;
    width: 100%;
}
header {
    height: 50px;
    margin: 0px auto;
    
}
header li a {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 .5em;
    float: right;
    color: #000;
 
}
header#logo {
    float: left;
}
.navlist {
    float:; right;
}
header {
    height: 60vh;
}
#splash {
    background-color: #000;
    width: 100%;
    height: 20vh;
}
div#contentwrapper {
    margin-left: auto;
    margin-right: auto;
    width:30%;
}
nav {
    padding: 1em;
}
nav a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0 1.5em;
    font-weight: 400;
    line-height: 2em;
}
div#social {
    padding: 0 4em;
}
div#social a {
    padding: 0 1em;
    margin: 0;
    width: 20%
}
#contentwrapper a:hover{
    color: rgba(255, 255, 255, .5);
}
.clearfix:after{
    visibility: hidden;
    display:block;
    font-size: 0;
    content: "";
    clear:both;
    height: 0;
}
section#content {
    width: auto;
    height: 20vh;
    background-color: #fff;
}
div.column1, .column2 {
    width: 50%;
    height: 20vh;
}
div.column1 a, .column2 a {
    color: #000;
    font-weight: 100;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;  
    border: 2px solid #000;
    margin: 1em 7em;
    padding: .5em;
}
div#weddings{
    background: url("images/weddingsbutton.jpg");
    background-repeat: no-repeat;
    float: left;
}
div#weddings a:hover {
    border: none;
    color: #fff;
}   
div#photoshoots {
    background: url("images/photoshootbutton.jpg");
    float: right;
    background-repeat: no-repeat;
}
div#photoshoots a:hover {
    border: none;
    color: #fff;
}



>>>>>>> Stashed changes
