body {
    background: url("images/covermodel.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Aktiv Grotesk Std', sans-serif;
}
header {
    background-color: rgba(255,255,255.5);
}
header li {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}
header#logo {
    float: left;
}

