 * { margin:0; padding:0; box-sizing: border-box; }
body {
    font-family: 'proxima-nova-sc-osf', helvetica, sans-serif;
}
header {
    height: 65px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav {
    padding: 0;
}
.logo img {
	float: left;
}
nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    padding: 0 1.5em;
    font-weight: 100;
    line-height: 1.5em;
}
nav a:hover{
    text-decoration: underline;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
section#photogrid img{
    width: 33.33%;
    float: left;
}